<%- include('header'); -%>

<div class="box" id="heading"><h1><%= listTitle %></h1></div>

<div class="box">
  <% newListItem.forEach((item) => { %>
  <form action="/delete" method="POST">
    <div class="item">
      <input type="hidden" name="listTitle" value="<%= listTitle %>" />
      <input
        type="checkbox"
        name="checkbox"
        onChange="this.form.submit()"
        value="<%=item._id %>"
      />

      <p><%= item.description %></p>
    </div>
  </form>

  <% }) %>
  <form class="item" action="/" method="POST">
    <button type="submit" name="list" value="<%= listTitle %>">+</button
    ><input
      autocomplete="off"
      placeholder="Add a new todo"
      name="newTodo"
      type="text"
    />
  </form>
</div>

<%- include('footer'); -%>
